<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'main.html' %}
    {% load static %}
    {% block content %}
    <meta charset="UTF-8">
    <title>Description du commmentaire de {{commentaires.joueurs_com}}</title>
</head>

<body>
    <div class="margin">

        <h2>Nom categorie :</h2>
        <p>
            {{commentaires.jeux_com}}
        </p>

        <h2>Joueur commenté :</h2>
        <p>
            {{commentaires.joueurs_com}}
        </p>

        <h2>Note :</h2>
        <p>
            {{commentaires.note_com}}
        </p>

        <h2>Commentaire du jeu :</h2>
        <p>
            {{commentaires.commentaire_jeu}}
        </p>

        <h2>Date du commentaire :</h2>
        <p>
            {{commentaires.date_com}}
        </p>
    </div>
</body>

</html>
{% endblock %}