<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'main.html' %}
    {% load static %}

    {% block content %}
    <meta charset="UTF-8">
    <title>Liste des categories</title>
</head>

<body>
    <div class="margin">
        <h2> Liste des catégories crée :</h2>
        {% for c in liste %}
        <div class="li_Border">
            <ol>
                <li>
                    {{c}}
                    <ul><a href="/ludo/affichecategorie/{{c.id}}/">détails</a></ul>
                    <ul><a class="updatecategorie" href="/ludo/updatecategorie/{{c.id}}/">Modifier</a></ul>
                    <ul><a class="del" href="/ludo/deletecategorie/{{c.id}}/">Supprimer</a></ul>
                </li>
            </ol>
        </div>
        {% endfor %}
        </ol>
    </div>
</body>

</html>
{% endblock %}