<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'main.html' %}
    {% load static %}

    {% block content %}
    <meta charset="UTF-8">
    <title>Liste des joueurs</title>
</head>

<body>
    <div class="margin">

        <h2> Liste des joueurs crée :</h2>

        <ol>
            {% for p in liste %}
            <ol class="li_Border">
                <li>
                    {{p}}
                    <ul><a href="/ludo/affichejoueurs/{{p.id}}/">détails</a></ul>
                    <ul><a class="updatejoueurs" href="/ludo/updatejoueurs/{{p.id}}/">Modifier</a></ul>
                    <ul><a class="del" href="/ludo/deletejoueurs/{{p.id}}/">Supprimer</a></ul>
                    <ul><a class="updatejoueurs" href="/ludo/updatejoueurs/{{p.id}}/">Fiche du joueur</a></ul>
                </li>
            </ol>

            {% endfor %}
        </ol>
    </div>
</body>

</html>
{% endblock %}