<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'main.html' %}
    {% load static %}
    {% block content %}
    <meta charset="UTF-8">
    <title>Description du jeu {{jeux.titre_jeux}}</title>
</head>

<body>
    <div class="margin">

        <h2>Titre du jeux :</h2>
        <p>
            {{jeux.titre_jeux}}
        </p>

        <h2>Année du jeu :</h2>
        <p>
            {{jeux.annee_jeux}}
        </p>

        <h2>Categorie :</h2>
        <p>
            {{jeux.categorie_jeux}}
        </p>

    </div>
    <img class="imggg" src="{{jeux.image_jeux}}">
</body>

</html>
{% endblock %}