<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'main.html' %}
    {% load static %}

    {% block content %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h2> Liste des catégories crée :</h2>

    <ol>
        {% for c in liste %}
        <li> {{c}} <a href="/ludo/affichecategorie/{{c.id}}/">détails</a> <a class="updatecategorie"
                href="/ludo/updatecategorie/{{c.id}}/">Modifier</a> <a class="del"
                href="/ludo/deletecategorie/{{c.id}}/">Supprimer</a> </li>
        {% endfor %}
    </ol>
</body>

</html>
{% endblock %}