<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des auteurs</title>
</head>
{% extends 'main.html' %}
{% load static %}
{% block content %}

<body>
    <div class="margin">
        <h2> Liste des auteurs crée :</h2>
        {% for a in liste %}
        <div class="li_Border">
            <ul>
                {{a}}
                <ul><a href="/ludo/afficheauteurs/{{a.id}}/">détails</a></ul>
                <ul><a class="updateauteurs" href="/ludo/updateauteurs/{{a.id}}/">Modifier</a></ul>
                <ul><a class="del" href="/ludo/deleteauteurs/{{a.id}}/">Supprimer</a></ul>
            </ul>
        </div>
        {% endfor %}
    </div>
</body>

</html>
{% endblock %}