<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'main.html' %}
    {% load static %}
    {% block content %}
    <meta charset="UTF-8">
    <title>{{auteurs.nom_aut}} {{auteurs.prenom_aut}}</title>
</head>

<body>
    <div class="margin">

        <h2>Informations sur l'Auteurs :</h2>

        <h2>Nom de l'Auteur :</h2>
        <p>
            {{auteurs.nom_aut}}
        </p>

        <h2>Prénom de l'Auteur :</h2>
        <p>
            {{auteurs.prenom_aut}}
        </p>

        <h2>Age de l'Auteur :</h2>
        <p>
            {{auteurs.age_aut}}
        </p>
    </div>
    <img class="imggg" src="{{auteurs.photo_aut}}">
</body>

</html>
{% endblock %}