<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'main.html' %}
    {% load static %}
    {% block content %}
    <meta charset="UTF-8">
    <title>{{joueurs.nom_j}} {{joueurs.prenom_j}}</title>
</head>

<body>
    <div class="margin">

        <h2>Nom du joueur :</h2>
        <p>
            {{joueurs.nom_j}}
        </p>

        <h2>Prénom du joueur :</h2>
        <p>
            {{joueurs.prenom_j}}
        </p>

        <h2>Mail du joueur :</h2>
        <p>
            {{joueurs.mail_j}}
        </p>

        <h2>Mot de passe du joueur :</h2>
        <p>
            {{joueurs.mdp_j}}
        </p>

        <h2>Type de joueurs :</h2>
        <p>
            {{joueurs.type_j}}
        </p>
    </div>
</body>

</html>
{% endblock %}