<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'main.html' %}
    {% load static %}

    {% block content %}
    <meta charset="UTF-8">
    <title>Liste des jeux</title>
</head>

<body>
    <div class="margin">

        <h2> Liste des jeux crée :</h2>

        <ol>
            {% for j in liste %}
            <li> {{j}} <a href="/ludo/affichejeux/{{j.id}}/">détails</a> <a class="updatejeux"
                    href="/ludo/updatejeux/{{j.id}}/">Modifier</a> <a class="del"
                    href="/ludo/deletejeux/{{j.id}}/">Supprimer</a> <a href="/ludo/moyennenotes/{{j.id}}/">Moyenne des
                    notes</a> <a href="/ludo/commentairenotes/{{j.id}}/">Commentaire sur
                    les
                    jeux</a></li>
            {% endfor %}
        </ol>
    </div>
</body>

</html>
{% endblock %}