<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'main.html' %}
    {% load static %}

    {% block content %}
    <meta charset="UTF-8">
    <title>Liste des commentaires</title>
</head>

<body>
    <div class="margin">
        <h2> Liste des commentaires crée :</h2>
        {% for c in liste %}
        <div class="li_Border">
                    {{c}}
                    <ul><a href="/ludo/affichecommentaires/{{c.id}}/">détails</a></ul>
                    <ul><a href="/ludo/updatecommentaires/{{c.id}}/">Modifier</a></ul>
                    <ul><a href="/ludo/deletecommentaires/{{c.id}}/">Supprimer</a></ul>
        </div>
        {% endfor %}
    </div>
</body>

</html>
{% endblock %}