<!DOCTYPE html>
<html lang="en">
<head>
  {% extends 'main.html' %}
  {% load static %}
  {% block content %}
    <meta charset="UTF-8">
    <title>Ajouter un joueur</title>
</head>
<body>
  <div class="margin">
<h1>Saisir les informations suivantes afin de créer un joueur :</h1>
  {% if id != '' %}
    <form method="post" action="/ludo/traitementjoueurs/">
   {% else %}

   {% endif %}
  {% csrf_token %}
  {{form.as_p}}
  <input class="inputmore" type="submit" value="Ajouter"/>
    </form>
    </div>
</body>
</html>
{% endblock %}