<!DOCTYPE html>
<html lang="en">

<head>
  {% extends 'main.html' %}
  {% load static %}
  {% block content %}
  <meta charset="UTF-8">
  <title>Ajouter un commentaire</title>
</head>

<body>
  <div class="margin">

    <h2>Saisir les informations suivantes afin de créer un commentaire :</h2>
    {% if id != '' %}
    <form method="post" action="/ludo/traitementcommentaires/">
      {% else %}
      {% endif %}
      {% csrf_token %}
      {{form.as_p}}
      <input class="inputmore" type="submit" value="Ajouter" />
    </form>
  </div>
</body>

</html>
{% endblock %}