<!DOCTYPE html>
<html lang="en">
<head>
  {% extends 'main.html' %}
  {% load static %}
  {% block content %}
    <meta charset="UTF-8">
    <title>Modifier une categorie</title>
</head>
<body>
  <div class="margin">
<h2>Saisir les informations suivantes afin de créer une categorie :</h2>
  {% if id is not None %}
    <form method="post" action="/ludo/updatetraitementcategorie/{{id}}/">
   {% else %}
    <form method="post" action="/ludo/traitementcategorie/{{id}}/">
   {% endif %}
  {% csrf_token %}
  {{form.as_ul}}
  <input class="inputmore" type="submit" value="save"/>
  </form>
  </div>
</body>
</html>
{% endblock %}