<!DOCTYPE html>
<html lang="en">
<head>
  {% extends 'main.html' %}
  {% load static %}
  {% block content %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Saisir les informations suivantes afin de créer une categorie :</h1>
  {% if id is not None %}
    <form method="post" action="/ludo/updatetraitementcategorie/{{id}}/">
   {% else %}
    <form method="post" action="/ludo/traitementcategorie/{{id}}/">
   {% endif %}
  {% csrf_token %}
  {{form.as_ul}}
  <input type="submit" value="save"/>
  </form>
</body>
</html>