<!DOCTYPE html>
<html lang="en">

<head>
  {% extends 'main.html' %}
  {% load static %}
  {% block content %}
  <meta charset="UTF-8">
  <title>Modifier un commentaire</title>
</head>

<body>
  <div class="margin">
    <h2>Modification :</h2>
    {% if id is not None %}
    <form method="post" action="/ludo/updatetraitementcommentaires/{{id}}/">
      {% else %}
      <form method="post" action="/ludo/traitementcommentaires/{{id}}/">
        {% endif %}
        {% csrf_token %}
        {{form.as_ul}}
        <input class="inputmore" type="submit" value="save" />
      </form>
  </div>
</body>

</html>
{% endblock %}