<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/ludo/"><strong>Accueil</strong></a>
<a href="/ludo/ajoutcategorie"><strong> Ajouter une categorie</strong></a>
<a href="/ludo/affichagecategorie"><strong> Catégorie crée</strong></a>
<a href="/ludo/ajoutjeux"><strong> Ajouter un Jeux</strong></a>
<a href="/ludo/affichagejeux"><strong> Jeux crée</strong></a>
<a href="/ludo/ajoutauteurs"><strong> Ajouter un Auteur</strong></a>
<a href="/ludo/affichageauteurs"><strong> Auteur crée</strong></a>
<a href="/ludo/ajoutjoueurs"><strong> Ajouter un Joueur</strong></a>
<a href="/ludo/affichagejoueurs"><strong>Joueurs crée</strong></a>
<a href="/ludo/ajoutcommentaires"><strong> Ajouter un commentaire</strong></a>
<a href="/ludo/affichagecommentaires"><strong>Commentaire crée</strong></a>

<h1>Modification :</h1>
  {% if id is not None %}
    <form method="post" action="/ludo/updatetraitementcommentaires/{{id}}/">
   {% else %}
    <form method="post" action="/ludo/traitementcommentaires/{{id}}/">
   {% endif %}
  {% csrf_token %}
  {{form.as_ul}}
  <input type="submit" value="save"/>
  </form>
</body>
</html>